@using ICH.Client.Shared
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="row">
                <div class="col-4 offset-4">
                    <HxAlert Color="ThemeColor.Warning">
                        <h5>
                            За даною адресою нічого немає
                        </h5>
                        <h6>
                            Спробуйте повернутися на головну сторінку
                        </h6>
                    </HxAlert>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
